aside {
	width: 100vw;
	background-color: $lightblue;

	@media (min-width: #{$md}) {
		width: $aside;
		min-height: calc(100vh - #{$header});
	}

	.container {
		@media (min-width: #{$md}) {
			padding-top: 250px;
		}
	}

	.qualification {
		margin-bottom: $padding * 4;

		&__title {
			width: 100%;
			display: flex;
			align-items: flex-end;
			margin-bottom: $padding / 2;
			border-bottom: 1px dotted $blue;

			h4,
			p {
				width: calc(50% - #{$padding / 2});
			}

			h4 {
				color: $blue;
				font-weight: bold;
				font-size: 20px;
				letter-spacing: 1px;
				line-height: 1.5;
				text-transform: uppercase;
			}

			p {
				display: flex;
				flex: 1;
				margin-left: $padding;
				color: $blue;
				font-size: 10px;
				letter-spacing: 1px;
				line-height: 2.5;
				text-transform: lowercase;

				span + span {
					margin-left: auto;
				}
			}
		}

		&__list {
			li {
				width: 100%;
				display: flex;
				align-items: center;
				margin-bottom: $padding * 2;
				border-bottom: 1px dotted $blue;
				line-height: 1.5;

				span {
					width: calc(50% - #{$padding / 2});
					color: #000;
					font-weight: bold;
					letter-spacing: 1px;
				}

				span + span {
					margin-left: $padding;
				}
			}

			&-item {
				span + span {
					font-weight: normal;
					text-align: right;
					@media (min-width: #{$md}) {
						text-align: left;
					}
				}
			}

			&-gauge {
				.gauge {
					position: relative;
					display: inline-block;
					height: $padding;
					background-color: $gray;

					&__track {
						width: 0%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background-color: $blue;
						transition: width 200ms ease-out;

						&--active {
							transition: width 200ms ease-in;
						}
					}
				}
			}
		}

		&-achievements .qualification__list li {
			align-items: flex-start;
		}
	}
}
