main {
	width: 100vw;

	@media (min-width: #{$md}) {
		width: calc(100% - #{$aside});
		min-height: calc(100vh - #{$header});
	}

	.headline {
		width: 100%;

		.container {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			padding-top: $padding * 3;
			padding-bottom: $padding * 3;
		}

		&__photo {
			width: 100px;
			height: 100px;
			border: 1px solid $lightblue;
			border-radius: 100%;
			overflow: hidden;

			@media (min-width: #{$xs}) {
				width: 140px;
				height: 140px;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		&__title {
			width: calc(100% - #{100px + $padding});
			margin-left: $padding;

			@media (min-width: #{$xs}) {
				width: calc(100% - #{140px + $padding});
			}

			h1 {
				font-size: 24px;
				font-weight: bold;
				line-height: 1.5;
				color: $blue;

				@media (min-width: #{$sm}) {
					font-size: 36px;
					line-height: 1.25;
				}
			}

			p {
				font-size: 18px;
				color: darken($lightblue, 35%);

				@media (min-width: #{$sm}) {
					font-size: 24px;
				}
			}

			h1,
			p {
				letter-spacing: 1px;
			}
		}
	}

	.timeline {
		&__title {
			width: 100%;
			margin-bottom: $padding * 2;
			font-size: 18px;
			font-weight: bold;
			line-height: 1.5;
			text-transform: uppercase;
			color: $blue;
			border-bottom: 1px dotted $blue;
		}

		.track {
			width: $track;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			&__slide {
				width: 100%;
				min-height: $padding * 2;
				position: absolute;
				top: 0;
				left: 0;
				transition: height 200ms;
				background-color: $gray;
			}
		}

		.point {
			width: $track + 10;
			height: $track + 10;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: calc(-50% - 5px);
			border: 2px solid #fff;
			border-radius: 100%;
			background-color: $blue;
			opacity: 0;
			transition: opacity 200ms;

			&.point-0,
			&--active {
				opacity: 1;
			}
		}

		$flag: 30px;
		$flagOffset: $flag / 2;

		.flag {
			width: auto;
			height: $flag;
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: -5px;
			padding: 0 10px;
			background-color: $blue;
			opacity: 0;
			z-index: 2;
			transition: opacity 400ms, right 200ms ease-out;

			@media (max-width: 1090px) {
				opacity: 0 !important;
			}

			&::before {
				content: '';
				position: absolute;
				right: -($flagOffset);
				bottom: 0;
				width: 0;
				height: 0;
				border-left: $flagOffset solid $blue;
				border-top: $flagOffset solid transparent;
				border-bottom: $flagOffset solid transparent;
			}

			&.flag-0,
			&--active {
				opacity: 1;
				right: $flag;
				transition: opacity 400ms, right 200ms ease-in;
			}

			&__text {
				color: #fff;
				letter-spacing: 2px;
				font-weight: bold;
			}
		}

		.history {
			width: 100%;
			position: relative;
			padding-left: 25px;

			&__item {
				margin-bottom: $padding * 2;
				opacity: 0;
				transition: opacity 600ms ease-out;

				&-0,
				&--active {
					opacity: 1;
					transition: opacity 600ms ease-in;
				}

				h3 {
					margin-bottom: $padding;
					font-weight: bold;
					font-size: 18px;
				}

				p {
					font-size: 14px;
					line-height: 1.5;
					letter-spacing: 1px;
				}
			}
		}
	}
}
