$lightblue: #edf1f5;
$blue: #53819e;
$gray: #e3e4e5;

$xs: 480px;
$sm: 600px;
$md: 768px;
$lg: 960px;
$xl: 1200px;

$header: 50px;
$aside: 180px;

$padding: 16px;

:root {
	--lightblue: $lightblue;
	--blue: $blue;
	--gray: $gray;
	--padding: 16px;
}
