html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --lightblue: $lightblue;
  --blue: $blue;
  --gray: $gray;
  --padding: 16px;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 16px;
}
.container::after {
  content: "";
  width: 100%;
  height: auto;
  display: block;
  clear: both;
}

header {
  width: 100vw;
  height: 50px;
  background-color: #53819e;
  z-index: 3;
}

main {
  width: 100vw;
  z-index: 1;
}
@media (min-width: 768px) {
  main {
    width: calc(100% - 360px);
    min-height: calc(100vh - 50px);
  }
}
main .headline {
  width: 100%;
}
main .headline .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 48px;
  padding-bottom: 48px;
}
main .headline__photo {
  width: 100px;
  height: 100px;
  border: 1px solid #edf1f5;
  border-radius: 100%;
  overflow: hidden;
}
@media (min-width: 480px) {
  main .headline__photo {
    width: 140px;
    height: 140px;
  }
}
main .headline__photo img {
  width: 100%;
  height: auto;
}
main .headline__title {
  width: calc(100% - 116px);
  margin-left: 16px;
}
@media (min-width: 480px) {
  main .headline__title {
    width: calc(100% - 156px);
  }
}
main .headline__title h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  color: #53819e;
}
@media (min-width: 600px) {
  main .headline__title h1 {
    font-size: 36px;
    line-height: 1.25;
  }
}
main .headline__title p {
  margin-bottom: 8px;
  font-size: 18px;
  color: #7a98b5;
}
@media (min-width: 600px) {
  main .headline__title p {
    font-size: 24px;
  }
}
main .headline__title h1,
main .headline__title p {
  letter-spacing: 1px;
}
main .headline__title__social {
  display: flex;
  text-align: center;
}
main .headline__title__social li a {
  width: 24px;
  height: 24px;
  display: inline-block;
}
main .headline__title__social li a svg * {
  fill: #7a98b5;
}
main .headline__title__social li + li {
  margin-left: 8px;
}
main .timeline__title {
  width: 100%;
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  color: #53819e;
  border-bottom: 1px dotted #53819e;
}
main .timeline .track {
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 1090px) {
  main .timeline .track {
    left: 90px;
  }
}
main .timeline .track__slide {
  width: 100%;
  min-height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  transition: height 200ms;
  background-color: #e3e4e5;
}
main .timeline .point {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(-50% - 5px);
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #53819e;
  opacity: 0;
  transition: opacity 200ms;
}
main .timeline .point.point-0, main .timeline .point--active {
  opacity: 1;
}
main .timeline .flag {
  width: auto;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  padding: 0 10px;
  background-color: #53819e;
  opacity: 0;
  z-index: 2;
  transition: opacity 400ms, right 200ms ease-out;
}
@media (max-width: 1090px) {
  main .timeline .flag {
    opacity: 0 !important;
  }
}
main .timeline .flag::before {
  content: "";
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #53819e;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
main .timeline .flag.flag-0, main .timeline .flag--active {
  opacity: 1;
  right: 30px;
  transition: opacity 400ms, right 200ms ease-in;
}
main .timeline .flag__text {
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
}
main .timeline .history {
  width: 100%;
  position: relative;
  padding-left: 25px;
}
@media (min-width: 1090px) {
  main .timeline .history {
    padding-left: 108px;
  }
}
main .timeline .history__gradient {
  width: 100%;
  height: 50vh;
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0), #fff);
  transition: opacity 200ms ease-out;
}
@media (min-width: 768px) {
  main .timeline .history__gradient {
    width: calc(100% - 360px);
  }
}
main .timeline .history__gradient--inactive {
  opacity: 0;
  transition: opacity 200ms ease-out;
}
main .timeline .history__item {
  margin-bottom: 64px;
}
main .timeline .history__item h3 {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
}
main .timeline .history__item p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
}

aside {
  width: 100vw;
  background-color: #edf1f5;
  z-index: 2;
}
@media (min-width: 768px) {
  aside {
    width: 360px;
    min-height: calc(100vh - 50px);
  }
}
@media (min-width: 768px) {
  aside .container {
    padding-top: 250px;
  }
}
aside .qualification {
  margin-bottom: 64px;
}
aside .qualification__title {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 8px;
  border-bottom: 1px dotted #53819e;
}
aside .qualification__title h4,
aside .qualification__title p {
  width: calc(50% - 8px);
}
aside .qualification__title h4 {
  color: #53819e;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.5;
  text-transform: uppercase;
}
aside .qualification__title p {
  display: flex;
  flex: 1;
  margin-left: 16px;
  color: #53819e;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 2.5;
  text-transform: lowercase;
}
aside .qualification__title p span + span {
  margin-left: auto;
}
aside .qualification__list li {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  border-bottom: 1px dotted #53819e;
  line-height: 1.5;
}
aside .qualification__list li span {
  width: calc(50% - 8px);
  color: #000;
  font-weight: bold;
  letter-spacing: 1px;
}
aside .qualification__list li span + span {
  margin-left: 16px;
}
aside .qualification__list-item span + span {
  font-weight: normal;
  text-align: right;
}
@media (min-width: 768px) {
  aside .qualification__list-item span + span {
    text-align: left;
  }
}
aside .qualification__list-gauge .gauge {
  position: relative;
  display: inline-block;
  height: 16px;
  background-color: #e3e4e5;
}
aside .qualification__list-gauge .gauge__track {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #53819e;
  transition: width 200ms ease-out;
}
aside .qualification__list-gauge .gauge__track--active {
  transition: width 200ms ease-in 600ms;
}
aside .qualification-achievements .qualification__list li {
  align-items: flex-start;
}

footer {
  width: 100vw;
  height: 50px;
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: #53819e;
  z-index: 3;
}

body {
  overflow-x: hidden;
}
body .container--main {
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  padding: 0;
}
body .container--main::after {
  content: "";
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #edf1f5;
}
@media (min-width: 768px) {
  body .container--main {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=style.css.map */
