html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --lightblue: $lightblue;
  --blue: $blue;
  --gray: $gray;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 16px;
}
.container::after {
  content: "";
  width: 100%;
  height: auto;
  display: block;
  clear: both;
}

header {
  width: 100vw;
  height: 50px;
  background-color: #53819e;
}

main {
  width: 100vw;
}
@media (min-width: 768px) {
  main {
    width: calc(100% - 180px);
    min-height: calc(100vh - 50px);
  }
}
main .headline {
  width: 100%;
}
main .headline .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 48px;
  padding-bottom: 48px;
}
main .headline__photo {
  width: 100px;
  height: 100px;
  border: 1px solid #edf1f5;
  border-radius: 100%;
  overflow: hidden;
}
@media (min-width: 480px) {
  main .headline__photo {
    width: 140px;
    height: 140px;
  }
}
main .headline__photo img {
  width: 100%;
  height: auto;
}
main .headline__title {
  width: calc(100% - 116px);
  margin-left: 16px;
}
@media (min-width: 480px) {
  main .headline__title {
    width: calc(100% - 156px);
  }
}
main .headline__title h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  color: #53819e;
}
@media (min-width: 600px) {
  main .headline__title h1 {
    font-size: 36px;
    line-height: 1.25;
  }
}
main .headline__title p {
  font-size: 18px;
  color: #7a98b5;
}
@media (min-width: 600px) {
  main .headline__title p {
    font-size: 24px;
  }
}
main .headline__title h1,
main .headline__title p {
  letter-spacing: 1px;
}
main .timeline__title {
  width: 100%;
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  color: #53819e;
  border-bottom: 1px dotted #53819e;
}
main .timeline .history__item {
  margin-bottom: 32px;
}
main .timeline .history__item h3 {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 18px;
}
main .timeline .history__item p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
}

aside {
  width: 100vw;
  background-color: #edf1f5;
}
@media (min-width: 768px) {
  aside {
    width: 180px;
    min-height: calc(100vh - 50px);
  }
}

footer {
  width: 100vw;
  height: 50px;
  background-color: #53819e;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  body {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=style.css.map */
