:root {
  font-size: 12px;
  --header-height: 64px;
  --sm: 600px;
  --md: 720px;
  --lg: 1080px;
  --black-100: #1c1c1c;
  --helvectica: 'Helvetica Neue', sans-serif;
  --rosarivo: 'Rosarivo', cursive;
  --zuecos: 'Zuecos', sans-serif;
}
